# xcode noise
build/
# build/*

*.swp
*.pyc 
*~.nib/

/*.pbxuser
*.mode1v3
*.perspective
*.perspectivev3

# the above lines are simplify as below:

# *.xcodeproj/
# !*.xcodeproj/project.pbxproj

# osx noise
.DS_Store
profile

