<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>LineGame</key>
		<array>
			<array>
				<dict>
					<key>word</key>
					<string>عمر</string>
					<key>picture</key>
					<string>omar</string>
				</dict>
				<dict>
					<key>word</key>
					<string>مريم</string>
					<key>picture</key>
					<string>maryam</string>
				</dict>
				<dict>
					<key>word</key>
					<string>قطة</string>
					<key>picture</key>
					<string>qittah</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>word</key>
					<string>مريم</string>
					<key>picture</key>
					<string>maryam</string>
				</dict>
				<dict>
					<key>word</key>
					<string>عمر و مريم</string>
					<key>picture</key>
					<string>omarmariam</string>
				</dict>
				<dict>
					<key>word</key>
					<string>عمر</string>
					<key>picture</key>
					<string>omar</string>
				</dict>
				<dict>
					<key>word</key>
					<string>قطة</string>
					<key>picture</key>
					<string>qittah</string>
				</dict>
			</array>
		</array>
		<key>LabelGame</key>
		<array>
			<array>
				<dict>
					<key>word</key>
					<string>عمر</string>
					<key>picture</key>
					<string>omar</string>
				</dict>
				<dict>
					<key>word</key>
					<string>مريم</string>
					<key>picture</key>
					<string>maryam</string>
				</dict>
				<dict>
					<key>word</key>
					<string>قطه</string>
					<key>picture</key>
					<string>qittah</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>word</key>
					<string>عمر</string>
					<key>picture</key>
					<string>omar</string>
				</dict>
			</array>
		</array>
		<key>ClozeGame</key>
		<array>
			<array>
				<dict>
					<key>word</key>
					<string>هذا</string>
					<key>sentence</key>
					<string># غمر.</string>
				</dict>
				<dict>
					<key>word</key>
					<string>هده</string>
					<key>sentence</key>
					<string>و # مريم.</string>
				</dict>
				<dict>
					<key>word</key>
					<string>انا</string>
				</dict>
				<string>omarmariam</string>
			</array>
			<array>
				<dict>
					<key>word</key>
					<string>هذا</string>
					<key>sentence</key>
					<string># غمر.</string>
				</dict>
				<dict>
					<key>word</key>
					<string>مريم</string>
					<key>sentence</key>
					<string>هذه #</string>
				</dict>
				<dict>
					<key>word</key>
					<string>هذه</string>
					<key>sentence</key>
					<string> # قطة.</string>
				</dict>
				<string>omarmariamqittah</string>
			</array>
			<array>
				<dict>
					<key>word</key>
					<string>يجب</string>
					<key>sentence</key>
					<string> عمر # القطة.</string>
				</dict>
				<dict>
					<key>word</key>
					<string>تحب</string>
					<key>sentence</key>
					<string>مري # القطة.</string>
				</dict>
				<dict>
					<key>word</key>
					<string>آحب</string>
					<key>sentence</key>
					<string>آنا # القطة.</string>
				</dict>
				<string>omarmariamqittah</string>
			</array>
		</array>
		<key>QuizGame</key>
		<array>
			<dict>
				<key>timer</key>
				<integer>20</integer>
				<key>question</key>
				<string>من هذا؟</string>
				<key>answer</key>
				<string>هذا عمر</string>
				<key>picture</key>
				<string>omar</string>
				<key>choices</key>
				<array>
					<string>هذه مريم</string>
					<string>هذه عمر</string>
				</array>
			</dict>
			<dict>
				<key>timer</key>
				<integer>25</integer>
				<key>question</key>
				<string>من هذه؟</string>
				<key>answer</key>
				<string>هذه مريم</string>
				<key>picture</key>
				<string>mariam</string>
				<key>choices</key>
				<array>
					<string>هذه قطة</string>
					<string>هذا عمر</string>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
